h1{
	color:blue;
}

$cuteblue:rgb(94, 166, 233);
$dark:rgb(43, 43, 43);
$light:rgb(236, 236, 236);
$coolgreen:rgb(62, 170, 80);
svg{
	border:1px dashed red;
}
body{
	background-color:rgb(231, 231, 231);
}

#myCircle{
	cx:150;
	cy:150;
	fill:$cuteblue;
	r:50;
}

#myRect{
	x:600px;
	y:28px;
	fill:$coolgreen;
	width:125px;
	height:100px;
	rx:20px;
	transition:all .5s ease-in;
	&:hover{
		fill:darkgreen;
	}
}

#myPolygon{
	fill:rgb(10, 52, 63);

}

pre{
	border:1px dashed $light;
	padding:10px;
}

#Man{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-gap:15px;
	> div{
		padding:15px;
		background-color:$dark;
		color:$light;
	}
}