$cuteblue:rgb(94, 166, 233);
$dark:rgb(43, 43, 43);
$light:rgb(236, 236, 236);
$coolgreen:rgb(62, 170, 80);
svg{
	border:1px dashed red;
}
body{
	background-color:rgb(231, 231, 231);
}

.svg-loader{
	.circ-1{

	}
	.circ-2{
		animation-name:animTest;
		animation-duration:1s;
		animation-iteration-count:infinite;
		
	}
	@keyframes animTest{
		from{
			r:12;
		}
		to{
			r:20;
		}
	}
}